/* **************** Banner **************** */
.projects{
  width: 100vw;
  max-width: 100%;
  background-image: url("../images/about_bg.jpg");
  background-position: top;
  background-size: contain;
}

.case_study_main {
  width: 100vw;
  max-width: 100%;
  background-size: cover;
  background-position: top;
  padding-bottom: 20px;
  min-height: 670px;
}

.case_study_main.yummy_gurlo {
  background-image: url("../images/yummygurlo/case-study-banner.webp");
}

.contact_us_main.yummy_gurlo {
  background-image: url("../images/yummygurlo/case-study-banner.webp");
}

.case_study_main.orange_county {
  background-image: url("../images/orangeCounty/banner.webp");
}

.case_study_main.speakable {
  background-image: url("../images/Speakable/speakable-banner.webp");
}

.case_study_main.dreamshot {
  background-image: url("../images/Dreamshot/banner.webp");
}

.case_study_main.Booklover {
  background-image: url("../images/Booklover/banner.webp");
}

.case_study_main.Zego {
  background-image: url("../images/Zego/banner.webp");
}

.case_study_main.vicket {
  background-image: url("../images/vickek/banner.webp");
}

.case_study_main.powerAtm {
  background-image: url("../images/power_atm/banner.webp");
}

.case_study_banner_main {
  padding: 60px 0px 85px 0px;
}

.case_study_banner_main .row>div {
  padding-top: 3rem;
}

.case_study_banner_main h1 {
  font-weight: 800;
  color: #ededed;
  line-height: 0.9;
  font-family: "Zurich XBlk BT";
  -webkit-text-stroke: 2px black;
  /* For Webkit-based browsers */
  text-stroke: 2px black;
  text-shadow: -4px 4px black;
}

.case_study_banner_main h1:nth-child(1) {
  font-size: calc(1.375rem + 1.5vw);
  padding-top: 30px;
  /* text-shadow: 2px 2px 0px  #000, -2px -2px 0px  #000, 2px -2px 0px  #000, -2px 2px 0px  #000; */
}

.case_study_banner_main h1:nth-child(2) {
  font-size: 95px;
  padding-bottom: 10px;
  padding-top: 10px;
  /* text-shadow: 2px 2px 0px  #000, -2px -2px 0px  #000, 2px -2px 0px  #000, -2px 2px 0px  #000; */
}


.case_study_banner_main p {
  font-size: 20px;
  font-weight: lighter;
  color: white;
  padding-top: 15px !important;
  line-height: 1.5;
  max-width: 460px;
}

.overview_main {
  width: 100vw;
  max-width: 100%;
  padding: 30px 0px;
}

.overview_main h3 {
  font-size: 60px;
  font-weight: 400;
  font-family: "Bebas Neue Bold";
  color: #0097d9;
}

.overview_main h4 {
  font-size: 60px;
  font-weight: 400;
  font-family: "Bebas Neue Bold";
  color: #ffca36;
  line-height: 0.6;
}

.overview_main h5 {
  font-size: 24px;
  font-weight: 300;
  /* font-family: "Bebas Neue"; */
  color: #ffca36;
  line-height: 1;
}

.overview_main h6 {
  font-size: 14px;
  /* font-family: "Bebas Neue"; */
  color: #ffca36;
  font-weight: 400;
}

.overview_details_orange {
  width: 100vw;
  max-width: 100%;
  background-image: url("../images/about_bg.jpg");
  background-position: top;
  background-size: cover;
  padding: 30px 0px 290px 0px;
}

.overview_details_orange h6 {
  font-size: 34px;
  font-weight: 400;
  font-family: "Bebas Neue Bold";
  color: black;
}

.overview_details_orange p {
  font-weight: 300;
  font-size: 15px;
}

.overview_details_orange .row>div:nth-child(1) p {
  font-weight: 400;
  font-size: 14px;
}

.overview_details_orange ul {
  list-style: none;
  padding-left: 0px !important;
}

.overview_details_orange ul li {
  font-size: 14px;
}

.overview_details_orange h5 {
  color: #0097d9;
  font-size: 16px;
}

.cta_btn a {
  /* Add your link styling here */
  text-decoration: none;
  color: #ffffff;
}

/* Additional styles when hovering over the button */



.overview_details {
  width: 100vw;
  max-width: 100%;
  background-image: url("../images/about_bg.jpg");
  background-position: top;
  background-size: cover;
  padding: 30px 0px 60px 0px;
}

.overview_details h6 {
  font-size: 34px;
  font-weight: 400;
  font-family: "Bebas Neue Bold";
  color: black;
}

.overview_details p {
  font-weight: 300;
  font-size: 15px;
}

.overview_details .row>div:nth-child(1) p {
  font-weight: 400;
  font-size: 15px;
}

.overview_details ul {
  list-style: none;
  padding-left: 0px !important;
}

.overview_details ul li {
  font-size: 15px;
}

.overview_details h5, .overview_details_orange h5 {
  color: #0097d9;
  font-size: 24px;
}

/********* Wher it started************** */
.where_it_started_main {
  background-image: url("../images/services-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
  width: 100vw;
  max-width: 100%;
  padding: 50px 0px;
}

.where_it_started_main h1 {
  color: white;
  font-family: "Bebas Neue Bold";
  font-size: 55px;
  margin: 20px 0px !important;
}

.where_it_started_img_container {
  position: relative;
  height: 260px;
  width: 100%;
}

.where_it_started_img_container img {
  max-height: 1000px;
}

.case_study_img_section {
  width: 100vw;
  max-width: 100%;
  background-color: white;
  max-height: 100vh;
}

.case_study_img_section img {
  height: 100%;
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
}

.visual_website_design {
  background-image: url("../images/visual-website-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
  width: 100vw;
  max-width: 100%;
  padding: 40px 0px 80px 0px;
}

.visual_website_design h1 {
  color: white;
  font-family: "Bebas Neue Bold";
  font-size: 75px;
  margin: 20px 0px !important;
}

.label_design {
  width: 100vw;
  max-width: 100%;
  background-image: url("../images/about_bg.jpg");
  background-position: top;
  background-size: cover;
  padding: 30px 0px 60px 0px;
}

.label_design h2 {
  font-family: "Bebas Neue Bold";
  font-size: 60px;
  color: #0097d9;
}

.social_media_main {
  background-image: url("../images/about_bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
  width: 100vw;
  max-width: 100%;
}

.social_media_main h2 {
  font-size: 60px;
  font-family: "Zurich XBlk BT";

  font-weight: 800;
  color: #ededed;
  -webkit-text-stroke: 1.5px black;
  /* For Webkit-based browsers */
  text-shadow: -6px 7px #0097d9;
  letter-spacing: -4px;
}

.Home_container-width-2 {
  padding: 0px 0px !important;
  max-width: 1600px;
}

.label_container-width-2 {
  padding: 0px 24px !important;
  max-width: 1600px;
}

.home_page_main {
  background-image: url("../images/about_bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
  width: 100vw;
  max-width: 100%;
}

.home_page_main h2 {
  font-size: 70px;
  font-family: "Zurich XBlk BT";
  font-weight: 800;
  color: #ededed;
  -webkit-text-stroke: 1.5px black;
  text-shadow: -6px 7px #0097d9;
  letter-spacing: -4px;
}

.yummy_girlo_main {
  width: 100vw;
  max-width: 100%;
  background-image: url("../images/about_bg.jpg");
  background-position: top;
  background-size: cover;
  padding: 40px 0px;
}

.yummy_girlo_main h3 {
  font-size: 68px;
  font-weight: 400;
  font-family: "Bebas Neue Bold";
  color: #0097d9;
}

.yummy_girlo_main p {
  font-size: 12px;
  font-weight: 400;
}

@media (max-width: 1440px){
  .case_study_banner_main h1:nth-child(2){
    font-size: 73px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
  .case_study_main {
    min-height: 750px;
  }

  .where_it_started_img_container {
    position: relative;
    height: 270px;
    width: 100%;
  }

  .where_it_started_img_container img {
    max-width: 1000px;
  }
}

@media screen and (min-width: 1601px) {
  .where_it_started_img_container {
    position: relative;
    height: 350px;
    width: 100%;
  }

  .case_study_main {
    min-height: 800px;
  }
/* 
  .case_study_banner_main h1:nth-child(1) {
    font-size: 83px;

    padding-top: 30px;
    text-shadow: 2px 2px 0px  #000, -2px -2px 0px  #000, 2px -2px 0px  #000, -2px 2px 0px  #000;
  } */

  /* .case_study_banner_main h1:nth-child(2) {
    font-size: 103px;
  } */

  /* .case_study_banner_main p {
    margin-top: 10px;
    font-size: 18px;
  } */

  .case_study_banner_main .row>div {
    padding-top: 6rem;
  }
}

@media (max-width: 1250px){
  .case_study_banner_main p{
    font-size: 15px;
  }
}

@media (max-width: 1116px){
  .case_study_banner_main p{
    color: black;
  }
}

@media (max-width: 1024px){
  .case_study_banner_main h1:nth-child(2){
    font-size: 50px;
  }
}

@media (max-width: 768px){
  img.object-contain.md\:object-cover.w-\[50\%\].pr-3.overflow-hidden.lg\:ml-\[-20px\]{
    transform: none !important;
  }
  .social_media_main h2{
    font-size: 48px;
  }
  .overview_details h5, .overview_details_orange h5{
    font-size: 20px;
  }
  .where_it_started_main h1{
    font-size: 42px;
  }
  .visual_website_design h1{
    font-size: 64px;
  }
  .yummy_girlo_main h3{
    font-size: 50px;
  }
}

@media (max-width: 500px){
  .case_study_banner_main h1:nth-child(2){
    font-size: 40px;
  }
  .social_media_main h2{
    font-size: 35px;
    letter-spacing: normal ;
  }
  .where_it_started_main h1{
    font-size: 35px;
  }
  .visual_website_design h1{
    font-size: 40px;
  }
}