.location-card:hover  p{
  color: #0097d9 !important;
  transform: scale(1.1);
}

.location-card:hover{
  fill: #0097d9 !important;
  /* transform: scale(1.1); */
}


.contact-us-page .contact_banner_section_main .home_contact_form h3{
  font-size: 42px !important;
}

.contact-us-page .contact_banner_section_main .home_contact_form .input{
  border-bottom: 2px solid gray !important;
  position: relative !important;
}
.contact-us-page .contact_banner_section_main .home_contact_form input{
  width: 100%;
  height: 100%;
  padding: 10px 0px;
  border: none !important;
}
.contact_banner_section_main .home_contact_form .input::after, .contact_banner_section_main .home_contact_form .input::after{
  content: "" !important;
  position: absolute !important;
  bottom: -2px !important;
  left: 0 !important;
  width: 120px !important;
  height: 2px !important;
  background-color: #FD022C !important;
}

.contact-us-page .contact_banner_section_main .home_contact_form label{
 color:  gray !important;
}

.contact-us-page .contact_banner_section_main .home_contact_form input::placeholder {
  color: gray !important;
}

.contact_banner_section_main {
  width: 100vw;
  max-width: 100%;
  background-image: url("../images/banner-back.png");
  background-size: cover;
  background-position: top;
  padding: 50px 0px;
}

.contact_banner_section_main h1:nth-child(1){
  line-height: 1.5;
}

.contact_banner_section_main h1 {
  font-weight: 800;
  color: #ededed;
  line-height: 0.9;
  font-family: "Zurich XBlk BT";
  -webkit-text-stroke: 2px black;
  /* For Webkit-based browsers */
  text-stroke: 2px black;
  text-shadow: -4px 4px black;
  ;
}

.contact_banner_section_main h1 {
  font-size: calc(1.375rem + 1.5vw);

  /* padding-top: 30px; */
  /* text-shadow: 2px 2px 0px  #000, -2px -2px 0px  #000, 2px -2px 0px  #000, -2px 2px 0px  #000; */
}

/* .contact_banner_section_main h1:nth-child(2) {
  font-size: calc(1.375rem + 1.5vw);
  padding-bottom: 10px;
  padding-top: 10px; */
  /* text-shadow: 2px 2px 0px  #000, -2px -2px 0px  #000, 2px -2px 0px  #000, -2px 2px 0px  #000; */
/* } */

.contact_banner_section_main p {
  font-size: 20px;
  font-weight: lighter;
  color: white;
  padding-top: 15px !important;
  line-height: 1.5;
  max-width: 460px;
}

.contact_banner_section_main button {
  padding: 10px 22px;
  margin-top: 40px;
  font-weight: 400;
  font-size: 14px;
}

.contact_banner_section_main img {
  width: 480px;
  height: 430px;
  margin-top: 20px;
  -o-object-fit: contain;
  object-fit: contain;
}

.contact_banner_heading_line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.horizontal-line {
  width: 35px;
  height: 4px;
  background-color: #D8092F;
  margin: 10px;
  margin-top: 22px;
  opacity: 1;
}

/* *****************Home About *************** */
.home_about_main {
  width: 100vw;
  max-width: 100%;
  background-image: url("../images/about_bg.jpg");
  background-position: top;
  background-size: cover;
}

/* .home_about_main h3,
.home_blog_main h3, .blog-main h3 {
  font-size: 65px;
  font-family: "Zurich XBlk BT";

  font-weight: 800;
  color: #ededed;
  -webkit-text-stroke: 1.5px black;
  text-shadow: -6px 7px #0097d9;
  letter-spacing: -4px;
} */

.blog_card h4 {
  overflow: hidden !important;
   display: -webkit-box !important;
   -webkit-line-clamp: 2 !important; /* number of lines to show */
           line-clamp: 2 !important; 
   -webkit-box-orient: vertical !important;
} 

/* .home_about_main h4,
.home_blog_main h4, .location-container h4, .digital_demand_main h2 {
  font-size: 85px;
  text-align: center;
  font-family: "Bebas Neue";
  color: #0097d9;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.644);
  text-shadow: -3px 3px black;
  padding-top: 20px;
} */

.home_about_details img {
  width: 560px;
  height: auto;
  object-fit: contain;
}

.home_about_details h6 {
  color: #0097d9;
  font-size: 24px;
}

.home_about_details p {
  font-size: 15px;
  font-weight: 300;
  padding-top: 10px;
}

.about_vision_and_mission h5 {
  font-size: 55px;
  font-weight: 400;
  font-family: "Bebas Neue";
}

.about_vision_and_mission p {
  font-size: 15px;
}

.home_process_main {
  width: 100vw;
  max-width: 100%;
  background-image: url("../images/about_bg.jpg");
  background-position: top;
  background-size: cover;
}

.home_case_study_main {
  width: 100vw;
  max-width: 100%;
  background-image: url("../images/about_bg.jpg");
  background-position: top;
  background-size: cover;
}

.home_case_study_main button,
.blog_card button {
  padding: 9px 22px;
  width: fit-content;
  margin-top: 30px !important;
}
.blog_card h1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
          line-clamp: 3; 
  -webkit-box-orient: vertical;
}

.contact {
  background-image: url("../images/contact-blue-black-bg.png");
  background-size: 100% 100%;
  background-position: contain;
  background-repeat: no-repeat;
  width: 100vw;
  max-width: 100%;
  /* padding-bottom: 35px; */
}

.home_contact_form {
  background-image: url("../images/contact_form_box.png");
  background-position: top;
  background-size: 100% 100%;
  width: 100% !important;
}

.home_contact_form h3 {
  font-size: 48px;
  font-weight: 400;
  font-family: "Bebas Neue";
  line-height: 50px;
}

.home_contact_form input {
  border-bottom: 1px solid rgb(100, 98, 98) !important;
  font-size: 14px;
}

.home_contact_form input::placeholder {
  color: rgb(100, 98, 98);
}

.home_contact_form input:focus-visible {
  outline: none;
}

.footer {
  background-image: url("../images/footer-bg-blackbox.png");
  background-size: cover;
  background-position: contain;
  background-repeat: no-repeat;
  width: 100vw;
  max-width: 100%;
  height: 100%;
}

.footer a {
  text-decoration: none;
}

/* *************** Home Services *************** */
.home_services {
  background-image: url("../images/services-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
  width: 100vw;
  max-width: 100%;
}

.home_services_main {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .home_services_main>div h1 {
  width: 100%;
  padding-top: 60px;
  text-align: center;
  color: #ededed !important;
  font-size: 65px;
  font-family: "Zurich XBlk BT" !important;
  -webkit-text-stroke: 2px black !important;
  text-shadow: -8px 8px black !important;
} */

.home_services_main>div>p {
  color: white;
  text-align: center;
}

.services_marquee>div {
  display: flex;
  color: white;
}

.services_marquee>div p {
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Bebas Neue";
  font-size: 30px;
}

.services_marquee>div span {
  font-weight: 600;
  font-size: 18px;
}

/* Slider */
.homeSlider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomeSlider .SliderCard {
  background-image: url("../images/service-nonactive.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  padding: 30px 15px;
  width: 80%;
  align-items: flex-start;
  cursor: pointer;
  justify-content: center;
}

.HomeSlider .SliderCard img {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-right: 15px;
}

.HomeSlider .SliderCard div h4 {
  font-family: "Bebas Neue";
  font-size: 34px;
}

@media (max-width: 1116px){
  .HomeSlider .SliderCard div h4{
    font-size: 23px;
  }
  .home_about_details h6{
    max-width: 800px;
    margin: auto;
  }
  .home_about_details {
    max-width: 800px;
    margin: auto;
  }
  .home_services_main>div>p{
    max-width: 800px;
    margin: auto;
  }
  .HomeSlider .SliderCard div p{
    max-width: 400px;
  }
}

.HomeSlider .SliderCard div p {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 300;
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   -webkit-box-orient: vertical;
}

.HomeSlider .slick-current .SliderCard {
  background-image: url("../images/services-active-box.png") !important;
  padding-bottom: 16% !important;
  transform: scale(1.2) !important;
}

.HomeSlider .slick-track {
  padding-top: 30px;
  padding-bottom: 30px;
}

.HomeSlider .slick-next,
.HomeSlider .slick-prev {
  display: none !important;
}

/* ***********Testimonials ********** */

.testimonials {
  background-image: url("../images/bottom-slider-bg.png");
  background-size: cover;
  background-position: contain;
  background-repeat: no-repeat;
  width: 100vw;
  max-width: 100%;
  height: 100%;
  background-color: white;
}

/* slider arrows */
.testimonial_slider .slick-prev {
  left: 0px !important;
  top: 40% !important;
}

.testimonial_slider .slick-next {
  right: 0px !important;
  top: 40% !important;
}

.testimonial_slider .slick-prev:before {
  content: " " !important;
}

.testimonial_slider .slick-next:before {
  content: " " !important;
}

.testimonial_slider .custom_slick_next {
  background-image: url("/images/next-arrow.png") !important;
  width: 30px !important;
  height: 30px !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  z-index: 1;
}

.testimonial_slider .custom_slick_prev {
  background-image: url("/images/prev-arrow.png") !important;
  width: 30px !important;
  height: 30px !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  z-index: 1;
}

/* *********** CLIENTS ************ */
.clients_main {
  padding: 50px 0px;
  background-color: white;
  width: 100vw;
  max-width: 100%;
}

.clients_main>div {
  max-width: 1600px;
}

.clients_main h4 {
  text-align: left !important;
}
.clients_main h3{
  text-align: left !important;
}

/* .clients_main h4 {
  font-size: 74px;
  font-family: "Bebas Neue";
  color: #0097d9;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.644);
  text-shadow: -3px 3px black;
  padding-top: 10px;
  line-height: 70px;
} */

.clients_main p {
  font-size: 13px;
}
/* 
.clients_main img {
  height: 200px;
} */

.clients_main img {
  height: 100% !important;
  object-fit: contain;
}

.contact-info h3 {
  font-size: 63px;
  font-family: "Bebas Neue";
  /* font-weight: 600; */
  color: #0097d9;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.644);

  text-shadow: -3px 3px black;
  padding-top: 15px;
}

.message-box {
  outline: none;
  width: 100%;
}

@media (max-width: 1250px){
  .contact_banner_section_main p{
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* .contact_banner_section_main h1:nth-child(2) {
    font-size: 44px;
  } */

  .contact-info h3 {
    font-size: 45px;
  }


  .contact-us-form {
    padding-left: 0;
    padding-right: 0;
  }

  .contact-info h6 {
    font-size: 10px;
  }

  .home_contact_form h3 {
    font-size: 35px;
    line-height: 40px;
  }

  /* .home_about_main h3,
  .home_blog_main h3, .blog-main h3, .home_services_main>div h1, .process-heading, .clients_main h3, .home_page_main h2 {
    font-size: 60px !important;
    letter-spacing: 0px;
    text-shadow: -6px 5px #0097d9;
} */
}

@media (max-width: 1025px) {
  .home_contact_form h3 {
    font-size: 30px;
    line-height: 40px;
  }
  .home_contact_form {
    margin-top: 30px;
  }
}

@media (max-width: 990px){
  .contact_banner_section_main h1{
    text-align: center !important;
  }
  .contact_banner_section_main p{
    text-align: center !important;
    margin: auto !important;
  }
}

@media screen and (max-width: 767px) {
  .clients_main h3{
    text-align: center !important;
  }
  .clients_main h4{
    text-align: center !important;
  }
  .clients_main .bottom-line{
    display: flex;
    justify-content: center;
  }
  /* .contact_banner_section_main h1:nth-child(1) {
    font-size: 55px;
  } */

  /* .contact_banner_section_main h1:nth-child(2) {
    font-size: 44px;
  } */

  .contact_banner_section_main img {
    width: 100%;
    height: auto;
    margin-top: 32px;
  }
  .contact_banner_section_main button {
    width: 100%;
  }

  .contact_banner_section_main button span {
    margin: auto;
  }

  .home_contact_form h3 {
    line-height: unset;
  }

  /* .case_study_banner_main h1:nth-child(1) {
    font-size: 50px;
  } */

  .info-box {
    display: flex;
    flex-direction: column;
  }

  .contact-us-form {
    padding-left: 0;
    padding-right: 0;
  }

  .contact-us-head {
    padding-left: 0;
  }

  .home_main {
    background-image: none;
    /* background-color: #0097d9; */
  }

  .contact_banner_section_main {
    padding: 0px 0px 0px 0px;
  }

  /* .home_about_main h4,
  .home_blog_main h4, .who_we_are_main h4, .location-container h4, .digital_demand_main h2 {
    font-size: 42px;
    padding-top: 0px;
  } */

  /* .home_about_main h3,
  .home_blog_main h3, .blog-main h3, .home_services_main>div h1, .process-heading, .clients_main h3, .home_page_main h2 {
    font-size: 45px !important;
    letter-spacing: 1px;
    text-shadow: -6px 4px #0097d9;
  } */



  /* .home_blog_main h4 {
    font-size: 50px;
    padding-top: 0px;
  } */

  .home_about_details img {
    display: none;
  }

  .home_about_details h6 {
    color: #0097d9;
    font-size: 20px;
    text-align: center;
  }
  .home_about_details p{
    text-align: center;
  }
  .about_vision_and_mission h5{
    text-align: center;
  }

  .home_services_main>div h1 {
    padding-top: 25px;
    line-height: 1;
  }

  .clients_main h4 {
    font-size: 42px;
    padding-top: 5px;
    line-height: 1;
  }

  .contact {
    background-color: #171719;
    background-image: none;
  }
}

@media (min-width: 1024px) {
  .testimonial_slider .slick-list {
    overflow: initial !important;
  }
}

@media screen and (min-width: 1400px) and (max-width: 2560px) {
  /* .contact_banner_section_main h1:nth-child(1) {
    font-size: 75px;
  } */

  /* .contact_banner_section_main h1:nth-child(2) {
    font-size: 105px;

  } */

  /* .contact_banner_section_main p {
    font-size: 18px;
  } */

  .contact_banner_section_main img {
    width: 600px;
    height: 497px;
    margin-top: 30px;
    /* object-fit: cover; */
  }

  .contact_banner_section_main button {
    padding: 12px 32px;
    margin-top: 40px;
    font-weight: 400;
    font-size: 17px;
  }

  .home_about_details img {
    width: 633px;
    height: 585px;
    -o-object-fit: contain;
    object-fit: contain;
  }

}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .contact_banner_section_main img {
    height: 330px;
  }

  .case_study_banner_main p {
    font-size: 15px;
  }

  /* .contact_banner_section_main p {
    font-size: 7px;
  } */

  /* .contact_banner_section_main h1:nth-child(1) {
    font-size: 36px;
  } */

  /* .contact_banner_section_main h1:nth-child(2) {
    font-size: 40px;
  } */
  /* .clients_main h4, .home_about_main h4, .home_blog_main h4, .who_we_are_main h4, .digital_demand_main h2{
    font-size: 55px;
    line-height: 50px;
  } */
}

@media screen and (min-width: 1560px) {
  .contact_banner_section_main img {
    width: 620px;
    height: 505px;
    margin-top: 100px;
  }
}

/* @media (max-width: 400px) {
  .home_about_main h3,
  .home_blog_main h3, .blog-main h3, .home_services_main>div h1, .process-heading, .clients_main h3, .home_page_main h2 {
    font-size: 35px !important;
    letter-spacing: unset;
    text-shadow: -4px 3px #0097d9;
  }
} */