@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue-Regular.woff2") format("woff2"),
    url("../fonts/BebasNeue-Regular.woff") format("woff"),
    url("../fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Black.woff2") format("woff2"),
    url("../fonts/Gotham-Black.woff") format("woff"),
    url("../fonts/Gotham-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"),
    url("../fonts/Montserrat-Light.woff") format("woff"),
    url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-LightItalic.woff2") format("woff2"),
    url("../fonts/Montserrat-LightItalic.woff") format("woff"),
    url("../fonts/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Zurich XBlk BT";
  src: url("../fonts/ZurichBT-ExtraBlack.woff2") format("woff2"),
    url("../fonts/ZurichBT-ExtraBlack.woff") format("woff"),
    url("../fonts/ZurichBT-ExtraBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue Bold';
  src: url('../fonts/BebasNeueBold.woff2') format('woff2'),
    url('../fonts/BebasNeueBold.woff') format('woff'),
    url('../fonts/BebasNeueBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin-bottom: 0px !important;
}

.cta_btn {
  background-color: #da092f;
  color: white;
  border: 2px solid black;
  box-shadow: 0 0 #0000, 0 0 #0000, 8px 7px 0px 1px #111;
  position: relative;
  overflow: hidden;
}


.stroke {
  -webkit-text-stroke: 0.5px white;
  text-shadow: -3px 2px black;
}

.stroke1 {
  color: #0097D9;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.644);
  text-shadow: -4px 4px black;
}

.stroke2 {
  -webkit-text-stroke: 2px black;
  text-shadow: -8px 8px black;
}

.stroke3 {
  color: #0097D9;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.644);
  text-shadow: -2px 2px black;
}

.stroke4 {
  color: #0097D9;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.644);
  text-shadow: -3px 2px black;
}


.container-width {
  padding: 0px 60px !important;
  max-width: 1600px;
}

.container-width-2 {
  padding: 0px 80px !important;
  max-width: 1600px;
}

.btn {
  position: relative !important;
  display: inline-flex !important;
  overflow: hidden !important; 
  background-color: #FD022C !important;
  border: 2px solid black !important;
  padding: 10px 23px !important;
  margin-top: 26px;
  border-radius: unset !important;

}

.btn:hover {
  color: black !important;
}

.btn span {
  position: relative !important;
  z-index: 1 !important;
  font-size: 14px !important;
}

.btn::before {
  content: '';
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  transform: translate(-50%, -50%) !important;
  width: 0px !important;
  height: 0px !important;
  border-radius: 50% !important;
  background-color: #fff !important;
  transition: width 0.5s, height 0.5s !important;
}

.btn:hover::before {
  width: 100% !important;
  height: 300px !important;
  color: black !important;
  transform: translate(0) !important;
  border-radius: 0% !important;
}


.blueGrayHeading {
  font-size: 65px !important;
  font-family: "Zurich XBlk BT" !important;
  font-weight: 800 !important;
  color: #ededed !important;
  -webkit-text-stroke: 1.5px black !important;
  text-shadow: -6px 7px #0097d9 !important;
  letter-spacing: -4px !important;
}

.blueSubHeading {
  font-size: 85px !important;
  text-align: center !important;
  font-family: "Bebas Neue" !important;
  color: #0097d9 !important;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.644) !important;
  text-shadow: -3px 3px black !important;
  padding-top: 20px !important;
}

.blackGrayHeading {
  width: 100% !important;
  color: #ededed !important;
  font-size: 65px !important;
  font-family: "Zurich XBlk BT" !important;
  -webkit-text-stroke: 2px black !important;
  text-shadow: -8px 8px black !important;
}

.red-line-para{
  font-size: 13px;
}

@media (min-width: 1025px) {
  .blueGrayHeading {
    font-size: 60px;
  }

  .btn {
    padding: 5px 5px !important;
  }

  .btn span {
    font-size: 10px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .blueGrayHeading {
    font-size: 60px !important;
    letter-spacing: 0px !important;
    text-shadow: -6px 5px #0097d9 !important;
  }

  .blueSubHeading {
    font-size: 55px !important;
    line-height: 50px !important;
  }

  .blackGrayHeading {
    font-size: 55px !important;
    letter-spacing: 0px !important;
  }
}

@media (max-width: 768px) {
  .blueGrayHeading {
    font-size: 45px !important;
    letter-spacing: 1px !important;
    text-shadow: -6px 4px #0097d9 !important;
    text-align: center !important;
  }

  .blueSubHeading {
    font-size: 60px !important;
    padding-top: 0px !important;
    text-align: center !important;
  }

  .blackGrayHeading {
    font-size: 45px !important;
    letter-spacing: 1px !important;
    padding-top: 25px !important;
    text-align: center !important;
  }

  .container-width {
    padding: 0px 15px !important;
  }

  .container-width-2 {
    padding: 0px 15px !important;
  }
}

@media (max-width: 500px){
  .red-line-para{
    font-size: 12px !important;
  }
}

@media (max-width: 400px) {
  .blueGrayHeading {
    font-size: 35px !important;
    letter-spacing: unset !important;
    text-shadow: -4px 3px #0097d9 !important;
  }

  .blueSubHeading {
    font-size: 35px !important;
    padding-top: 0px !important;
    text-shadow: -2px 2px black !important;
  }

  .blackGrayHeading {
    font-size: 30px !important;
    letter-spacing: unset !important;
    text-shadow: -2px 5px black !important;
  }

  .red-line-para{
    font-size: 10px !important;
  }
}