.home_main {
  width: 100vw;
  max-width: 100%;
  background-image: url("../images/main_banner_bg.jpg");
  background-size: cover;
  background-position: top;
  padding-bottom: 20px;
}

.banner_section_main {
  padding: 55px 0px;
}

.banner_section_main h1 {
  font-weight: 800;
  color: #ededed;
  line-height: 1.2;
  font-family: "Zurich XBlk BT";
  -webkit-text-stroke: 2px black;
  /* For Webkit-based browsers */
  text-stroke: 2px black;
  text-shadow: -4px 4px black;
  text-transform: uppercase;
}

h1.font-bebas.uppercase {
  font-size: calc(1.375rem + 1.5vw) !important;
}

.banner_section_main h1:nth-child(1) {
  font-size: calc(1.375rem + 1.5vw);
  /* padding-top: 30px; */
  /* text-shadow: 2px 2px 0px  #000, -2px -2px 0px  #000, 2px -2px 0px  #000, -2px 2px 0px  #000; */
}

.banner_section_main h1:nth-child(3) {
  font-size: calc(1.375rem + 1.5vw);
  /* padding-top: 30px; */
  /* text-shadow: 2px 2px 0px  #000, -2px -2px 0px  #000, 2px -2px 0px  #000, -2px 2px 0px  #000; */
}

.banner_section_main h1:nth-child(2) {
  /* font-size: 50px; */
  /* padding-bottom: 10px; */
  font-size: calc(1.375rem + 1.5vw);
  padding-top: 10px;
  color: #ededed;
  /* text-shadow: 2px 2px 0px  #000, -2px -2px 0px  #000, 2px -2px 0px  #000, -2px 2px 0px  #000; */
}

.banner_section_main p {
  font-size: 20px;
  font-weight: lighter;
  color: white;
  padding-top: 15px !important;
  line-height: 1.5;
  max-width: 600px;
}

.banner_section_main button {
  /* padding: 10px 22px;
  margin-top: 40px; */
  font-weight: 400;
  font-size: 14px;
}

.banner_section_main img {
  width: 480px;
  height: 430px;
  margin-top: 20px;
  object-fit: contain;
}

.banner-img {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
  transform: scale(1.1) !important;
}

/* *****************Home About *************** */
.home_about_main {
  width: 100vw;
  max-width: 100%;
  background-image: url("../images/about_bg.jpg");
  background-position: top;
  background-size: cover;
}

.home_about_main h3,
.home_blog_main h3, .blog-main h3 {
  font-size: 70px;
  font-family: "Zurich XBlk BT";

  font-weight: 800;
  color: #ededed;
  -webkit-text-stroke: 1.5px black;
  /* For Webkit-based browsers */
  text-shadow: -9px 4px #0097d9;
  letter-spacing: -4px;
}

.home_about_main h4,
.home_blog_main h4 {
  font-size: 64px;
  font-family: "Bebas Neue";
  /* font-weight: 600; */
  color: #0097d9;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.644);

  text-shadow: -3px 3px black;
  padding-top: 15px;
}

.home_about_details img {
  width: 560px;
  height: 480px;
  object-fit: contain;
}

.home_about_details h6 {
  color: #0097d9;
  font-size: 24px;
}

.home_about_details p {
  font-size: 15px;
  font-weight: 300;
  padding-top: 10px;
}

.about_vision_and_mission h5 {
  font-size: 55px;
  font-weight: 400;
  font-family: "Bebas Neue";
}

.about_vision_and_mission p {
  font-size: 15px;
}

.home_about_details button {
  margin-top: 25px;
  padding: 10px 22px;
  font-weight: 400;
  font-size: 14px;
}

.home_process_main {
  width: 100vw;
  max-width: 100%;
  background-image: url("../images/about_bg.jpg");
  background-position: top;
  background-size: cover;
}

.process-heading {
  font-size: 70px;
  font-family: "Zurich XBlk BT";
  font-weight: 800;
  color: #ededed !important;
  -webkit-text-stroke: 1.5px black;
  text-shadow: -7px 6px #0097d9;
  letter-spacing: -4px;
}

.home_case_study_main {
  width: 100vw;
  max-width: 100%;
  background-image: url("../images/about_bg.jpg");
  background-position: top;
  background-size: cover;
}

.home_case_study_main button,
.blog_card button {
  padding: 9px 22px;
  width: fit-content;
  margin-top: 30px !important;
}

.contact {
  background-image: url("../images/contact-blue-black-bg.png");
  background-size: 100% 100%;
  background-position: contain;
  background-repeat: no-repeat;
  width: 100vw;
  max-width: 100%;
  /* padding-bottom: 35px; */
}

.home_contact_form {
  background-image: url("../images/contact_form_box.png");
  background-position: top;
  background-size: 100% 100%;
}

.home_contact_form h3 {
  font-size: 45px;
  font-weight: 400;
  font-family: "Bebas Neue";
  line-height: 50px;
}

.home_contact_form input {
  border-bottom: 1px solid black !important;
  font-size: 14px;
}

.home_contact_form input:focus-visible {
  outline: none;
}

.footer {
  background-image: url("../images/footer-bg-blackbox.png");
  background-size: cover;
  background-position: contain;
  background-repeat: no-repeat;
  width: 100vw;
  max-width: 100%;
  height: 100%;
}

.footer a {
  text-decoration: none;
  /* margin-bottom: 30px !important; */
}

.contact-us-tag a {
  margin-bottom: 0px !important;
}

.subscribe-home-button {
  width: 60%;
  font-weight: 800;
}

/* *************** Home Services *************** */
.home_services {
  background-image: url("../images/services-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
  width: 100vw;
  max-width: 100%;
}

.home_services_main {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_services_main>div h1 {
  width: 100%;
  padding-top: 60px;
  text-align: center;
  color: #ededed !important;
  font-size: 70px;
  font-weight: bolder;
  font-family: "Zurich XBlk BT";
}

.home_services_main>div>p {
  color: white;
  text-align: center;
}

.services_marquee>div {
  display: flex;
  color: white;
}

.services_marquee>div p {
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Bebas Neue";
  font-size: 30px;
}

.services_marquee>div span {
  font-weight: 600;
  font-size: 18px;
}

/* Slider */
.homeSlider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomeSlider .SliderCard {
  background-image: url("../images/service-nonactive.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* background-position: contain; */
  display: flex;
  padding: 30px 15px;
  width: 80%;
  align-items: flex-start;
  cursor: pointer;
}

.HomeSlider .SliderCard img {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-right: 15px;
}

.HomeSlider .SliderCard div h4 {
  font-family: "Bebas Neue";
  font-size: 34px;
}

.HomeSlider .SliderCard div p {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 300;
}

.HomeSlider .slick-current .SliderCard {
  background-image: url("../images/services-active-box.png") !important;
  padding-bottom: 16% !important;
  transform: scale(1.2) !important;
}

.HomeSlider .slick-track {
  padding-top: 30px;
  padding-bottom: 30px;
}

.HomeSlider .slick-next,
.HomeSlider .slick-prev {
  display: none !important;
}

/* ***********Testimonials ********** */

.testimonials {
  background-image: url("../images/bottom-slider-bg.png");
  background-size: cover;
  background-position: contain;
  background-repeat: no-repeat;
  width: 100vw;
  max-width: 100%;
  height: 100%;
  background-color: white;
}

/* slider arrows */
.testimonial_slider .slick-prev {
  left: 0px !important;
  top: 40% !important;
}

.testimonial_slider .slick-next {
  right: 0px !important;
  top: 40% !important;
}

.testimonial_slider .slick-prev:before {
  content: " " !important;
}

.testimonial_slider .slick-next:before {
  content: " " !important;
}

.testimonial_slider .custom_slick_next {
  background-image: url("/images/next-arrow.png") !important;
  width: 30px !important;
  height: 30px !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  z-index: 1;
}

.testimonial_slider .custom_slick_prev {
  background-image: url("/images/prev-arrow.png") !important;
  width: 30px !important;
  height: 30px !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  z-index: 1;
}

/* *********** CLIENTS ************ */
.clients_main {
  padding: 50px 0px;
  background-color: white;
  width: 100vw;
  max-width: 100%;
}

.clients_main>div {
  max-width: 1600px;
}

.clients_main h3 {
  font-size: 64px;
  font-family: "Zurich XBlk BT";

  font-weight: 800;
  color: #ededed;
  -webkit-text-stroke: 1.5px black;
  /* For Webkit-based browsers */
  text-shadow: -8px 6px #0097d9;
  letter-spacing: -4px;
}

.clients_main h4 {
  font-size: 74px;
  font-family: "Bebas Neue";
  /* font-weight: 600; */
  color: #0097d9;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.644);

  text-shadow: -3px 3px black;
  padding-top: 10px;
  line-height: 70px;
}

.clients_main p {
  font-size: 13px;
}

.agent-image {
  width: 290px !important;
  height: 50px !important;
  margin-left: 0 !important;
  /* margin-bottom: -50px; */
  /* transform: translateY(138px) translateX(-45px); */
}

.clients_main img {
  height: 400px !important;
}

.partners {
  background-color: rgb(0, 0, 0, 0);
  width: 100%;
  /* height:150px; */
  display: flex;
  justify-Content: center;
  align-items: center;
  flex-Direction: column;
}

.partners h1 {
  font-weight: 600;
  color: white;
  line-height: 0.9;
  font-family: "Zurich XBlk BT";
  -webkit-text-stroke: 1.5px black;
  /* For Webkit-based browsers */
  text-stroke: 2px black;
  text-shadow: -4px 2px #0097d9;
  font-size: 45px;
  padding-bottom: 10px;
}

.partners img {
  width: 90%;
}

@media screen and (max-width: 767px) {
  .banner-img{
    margin-left: 0;
    transform:  unset !important;
  }
  .banner_section_main h1:nth-child(1) {
    font-size: 55px;
  }

  .partners {
    margin-bottom: 20px;
  }

  /* .banner_section_main h1:nth-child(2) {
    font-size: 40px;
  } */
  .banner_section_main p {
    font-size: 10px;
  }

  .banner_section_main img {
    width: 100%;
    height: auto;
    margin-top: 32px;
    margin-left: 0px;
  }

  .home_about_main h4 {
    font-size: 42px;
    padding-top: 0px;
  }

  .home_blog_main h4 {
    font-size: 50px;
    padding-top: 0px;
  }

  .home_about_details img {
    width: 500px;
    height: auto;
  }

  .home_about_details h6 {
    color: #0097d9;
    font-size: 20px;
  }

  .home_services_main>div h1 {
    padding-top: 25px;
    /* font-size: 50px !important; */
    font-weight: bolder;
    line-height: 1;
  }

  .HomeSlider .SliderCard div h4 {
    font-family: "Bebas Neue";
    font-size: 28px;
  }

  .clients_main h4 {
    font-size: 54px;
    padding-top: 5px;
    line-height: 1;
  }

  .contact {
    background-color: #171719;
    background-image: none;
  }

  .home_contact_form {
    margin-top: 30px;
  }
}

@media (min-width: 1024px) {
  .testimonial_slider .slick-list {
    overflow: initial !important;
  }

  .home_about_main h3,
  .home_blog_main h3, .blog-main h3 {
    font-size: 60px;
  }
}

@media (max-width: 1250px) {
  .banner_section_main p {
    font-size: 15px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .banner_section_main p {
    font-size: 15px;
  }

  .banner_section_main img {
    height: 330px;
  }

  .HomeSlider .SliderCard img {
    width: 30px !important;
    height: 30px !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
  }

  /* .banner_section_main h1:nth-child(2) {
    font-size: 43px;
  } */

  .banner_section_main h1:nth-child(1) {
    font-size: 40px;
  }

  /* .HomeSlider .SliderCard div p {
    font-size: 7px !important;
  } */

  .HomeSlider .SliderCard div h4 {
    font-family: "Bebas Neue";
    font-size: 20px !important;
    padding-left: 5px !important;
  }
}

/* @media (max-width: 600px){
  .banner_section_main h1:nth-child(2) {
    font-size: 40px !important;
  }
} */

/* @media (max-width: 500px){
  .banner_section_main h1:nth-child(2) {
    font-size: 30px !important;
  }
} */

@media screen and (min-width: 1400px) and (max-width: 2560px) {
  .banner_section_main h1:nth-child(1) {
    margin-top: 75px;
    font-size: 50px;
  }

  /* .banner_section_main h1:nth-child(2) {
    font-size: 40px;
    line-height: 1.2;
  } */


  .banner_section_main p {
    font-size: 25px;
  }

  .banner_section_main img {
    width: 600px;
    height: 630px;
    margin-top: 27px;
    margin-left: 40px;
    /* object-fit: cover; */
  }

  .banner_section_main button {
    /* padding: 12px 32px;
    margin-top: 40px; */
    font-weight: 400;
    font-size: 17px;
  }

  .home_about_details img {
    width: 633px;
    height: 585px;
    -o-object-fit: contain;
    object-fit: contain;
  }
}

@media screen and (min-width: 1560px) {
  .banner_section_main img {
    width: 619px;
    height: 625px;
    margin-top: 9px;
    margin-left: 40px;
  }

}

/* .section-2-slider{
  background: linear-gradient(358deg, #0097d92b, white);
} */


/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 400px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #0097d9;
}

.study-img {
  width: 100%;
}

.testimonial_slider>.slick-slider {
  height: 100% !important;
}

.testimonial_slider>.slick-slider>.slick-list,
.testimonial_slider>.slick-slider>.slick-list>.slick-track {
  height: 100% !important;
}

.slick-slide>div {
  height: 100% !important;
}

/* @media (max-width: 990px){
  .process-heading{
    font-size: 50px;
  }
} */

@media (max-width: 767px) {
  .banner_section_main p {
    color: black;
  }

  .process-heading {
    font-size: 50px;
  }
}

@media (max-width: 600px){
  .partners h1{
    font-size: 35px;
  }
   .HomeSlider .SliderCard div p {
    font-size: 8px !important;
  }
  .HomeSlider .SliderCard div h4{
    font-size: 25px !important;
  }
  .home_services_main>div>p{
    font-size: 15px;
  }
}
.slick-current .testimonial-container::before {
  content: "";
  width: 100%;
  height: 5px;
  background: red;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: animate 3.5s linear 1;
}

@keyframes animate {
  0%{
    width: 0;
  }
  10%{
    width: 10%;
  }
  20%{
    width: 20%;
  }
  30%{
    width: 30%;
  }
  40%{
    width: 40%;
  }
  50%{
    width: 50%;
  }
  60%{
    width: 60%;
  }
  70%{
    width: 70%;
  }
  80%{
    width: 80%;
  }
  90%{
    width: 90%;
  }
  100%{
    width: 100%;
  }
}

.testimonial_slider .slick-arrow.slick-prev.custom_slick_prev,
.testimonial_slider .slick-arrow.slick-next.custom_slick_next {
  display: none !important;
}

@media (max-width: 786px) {
  .banner_section_main img {
    margin-left: 0;
    transform: unset !important;
  }
}