.services_banner_section_main {
  padding: 0px 0px 55px 0px;
}

.services_banner_section_main h1 {
  color: #ededed;
  -webkit-text-stroke: 2px black;
  /* For Webkit-based browsers */
  text-stroke: 2px black;
  text-shadow: -4px 4px black;;
  font-size:calc(1.375rem + 1.5vw) ;
  font-family: "Zurich XBlk BT";
  font-weight: 800;
  line-height: 1.2;
}

.services_banner_section_main h2 {
  color: white;
  /* -webkit-text-stroke: 2px black; */
  /* For Webkit-based browsers */
  /* text-stroke: 2px black; */
  /* text-shadow: -4px 4px black;; */
  font-size: 30px;
  font-family: "Bebas Neue Bold";

  line-height: 1.2;
  text-transform: uppercase;
  padding-top: 10px !important;
}

.services_banner_section_main p {
  font-size: 16px;
  font-weight: lighter;
  color: white;
  line-height: 2;
}

.services_banner_section_main button {
  padding: 10px 22px;
  margin-top: 40px;
  font-weight: 400;
  font-size: 14px;
}

.services_banner_section_main img {
  width: 460px;
  height: 440px;
  transform: rotate(180deg);
  /* object-fit: cover; */
}

.digital_demand_main{
  width: 100vw;
  max-width: 100%;
  background-image: url("../images/about_bg.jpg");
  background-position: top;
  background-size: cover;
  padding: 60px 0px;
}

.digital_demand_main h2 {
  font-size: 70px;
  font-family: "Bebas Neue Bold";
  color: #0097d9;
}

.digital_demand_main .status_box {
  background-image: url("../images/status_box.png");
  width: 100%;
  height: 100%;
  padding: 30px 40px 50px;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status_box h3 {
  font-size: 60px;
  font-family: "Bebas Neue Bold";
}

.status_box h6 {
  font-size: 17px;
  color: gray;
  text-align: center;
  line-height: 19.5px;
}

.solutions_provide h1 {
  font-family: 'Zurich XBlk BT';
  font-size: 64px;
  -webkit-text-stroke: 2px black;
  text-shadow: -4px 4px #000;
}

.solutions_provide p {
  font-weight: 300;
  font-size: 16px;
}

.our_services_main {
  background-image: url("../images/services-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
  width: 100vw;
  max-width: 100%;
  /* padding: 70px 0px; */
}

.our_services_main img {
  width: 440px;
}

.our_services_main .services {
  border-bottom: 1px solid white;
  padding: 30px 0px;
  color: white;
  cursor: pointer !important;
}

.our_services_main .services h4 {
  color: white;
  font-weight: 600;
  font-size: 28px;
  font-family: "Bebas Neue Bold";
}

.our_services_main .services p {
  font-weight: lighter;
  font-size: 16px;
}

.when_we_started_main {
  width: 100vw;
  max-width: 100%;
  padding: 60px 0px;
  background-image: url("../images/about_bg.jpg");
  background-position: top;
  background-size: cover;
}

.when_we_started_main h2 {
  font-size: 60px;
  font-family: "Bebas Neue Bold";
  text-align: center;
}

.when_we_started_main button {
  margin-top: 20px;
  padding: 10px 10px !important;
  font-size: 15px !important;
}

@media (max-width: 767px) {
  .services_banner_section_main h2 {
    color: black;
  }
  .services_banner_section_main p{
    color: black;
  }
}

@media screen and (max-width: 990px) {
  .solutions_provide h1 {
    font-size: 45px;
  }
}

@media screen and (max-width: 768px) {
  .services_banner_section_main h1 {
    font-size: 45px;
  }
  .solutions_provide h1 {
    font-size: 40px;
  }
}


@media screen and (min-width: 1560px) {
  .services_banner_section_main img {
    width: 523px;
    height: 468px;
    margin-top: 35px;
    /* object-fit: cover; */
  }

  .services_banner_section_main h1 {
    font-size: 76px;
  }

  .services_banner_section_main h2 {
    font-size: 60px;
  }

  .services_banner_section_main p {
    font-size: 20px;
  }

  .solutions_provide h1 {
    font-size: 84px;
  }

  .solutions_provide p {
    font-size: 18px;
  }
}

@media (max-width: 439px) {
  .solutions_provide h1 {
    font-size: 30px;
    margin-bottom: 20px !important;
  }
}